# .gitignore
# Ignore everything in the root directory
/*
# Except the following folders/files
!.gitignore
!.gitattributes
!README.txt
!Assets/
!ProjectSettings/
!Library/
Library/cache
Library/metadata
Library/previews
Library/ScriptAssemblies

Assets/.DS_Store

Assets/Objects/.DS_Store

Library/.DS_Store

ProjectSettings/.DS_Store
